<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="org.testng.reporters.XMLReporter" />
		<listener class-name="org.testng.reporters.JUnitXMLReporter" />
		<listener class-name="org.testng.reporters.EmailableReporter" />
		<listener class-name="org.testng.reporters.FailedReporter" />
		<listener class-name="org.testng.reporters.DotTestListener" />
	</listeners>

	<test thread-count="5" name="Test">

		<classes>
			<class
				name="com.ripplestreet.AllGetApis.RewardPreferencesControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.ReceiptControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.CampaignControllerGetApi" />
			<class
				name="com.ripplestreet.AllGetApis.WorkFlowTemplateControllerGetApi" />
			<class
				name="com.ripplestreet.AllGetApis.MarketingGoalsControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.CouponControllerGetApi" />
			<class
				name="com.ripplestreet.AllGetApis.ReservationControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.IntrestesControllerGetApi" />
			<class
				name="com.ripplestreet.AllGetApis.AudienceSearchControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.TemplateControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.GameControllerGetApi" />
			<class
				name="com.ripplestreet.AllGetApis.RewardDeliveryControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.LegalControllerGetApi" />
			<class
				name="com.ripplestreet.AllGetApis.SocialShareControllerGetApi" />
			<class
				name="com.ripplestreet.AllGetApis.RewardCatalogControllerGetAPi" />
			<class
				name="com.ripplestreet.AllGetApis.SegmentationFolderControllerGetApi" />
			<class
				name="com.ripplestreet.AllGetApis.PreSignedURLControllerGetApi" />
			<class
				name="com.ripplestreet.AllGetApis.MobileCommunityControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.ReviewControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.DiscussionControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.ActivityControllerGetApi" />
			<class
				name="com.ripplestreet.AllGetApis.OptinInflightActivationControllerGetApi" />
			<class
				name="com.ripplestreet.AllGetApis.TremendouesControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.ConfigurationController" />
			<class name="com.ripplestreet.AllGetApis.CreativeControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.RewardControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.BenefitControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.TaskControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.UgcControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.PartyControllerGetApi" />
			<class
				name="com.ripplestreet.AllGetApis.SegmentationJobsControllerGetApi" />
			<class
				name="com.ripplestreet.AllGetApis.ApplicationControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.EventControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.SurveyControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.FAQcontrollerGetApi" />
			<class
				name="com.ripplestreet.AllGetApis.SegmentationDefinitionControllerVersion2" />
			<class name="com.ripplestreet.AllGetApis.RoleControllerGetApi" />
			<class
				name="com.ripplestreet.AllGetApis.RewardAllocationcontrollerGetApi" />
			<class name="com.ripplestreet.AllGetApis.storesControllerGetApi" />
			<class
				name="com.ripplestreet.AllGetApis.SegmentationDataControllerGetApi" />
			<class
				name="com.ripplestreet.AllGetApis.CommonServiceFeedControllerGeApi" />
			<class name="com.ripplestreet.AllGetApis.gameOptionControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.SwagControllerGetApi" />
			<class
				name="com.ripplestreet.AllGetApis.TrackableLinkcontrollerGetApi" />
			<class name="com.ripplestreet.AllGetApis.EnrollmentControllerGetApi" />
			<class
				name="com.ripplestreet.AllGetApis.EventTemplateControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.jobControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.EventFeedControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.AudienceControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.TargetsControllerGetApi" />
			<class
				name="com.ripplestreet.AllGetApis.AudiencePromotionControllerGetApi" />
			<class
				name="com.ripplestreet.AllGetApis.RewardsItemsControllerGetApi" />
			<class
				name="com.ripplestreet.AllGetApis.AchievementControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.SponserControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.DraftEventControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.TriggerControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.RecipientsController" />
			<class name="com.ripplestreet.AllGetApis.MobileAppControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.userFamilyControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.ProductControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.CommunityControllerGetApi" />
			<class
				name="com.ripplestreet.AllGetApis.UserAchievementControllerGetApi" />
			<class
				name="com.ripplestreet.AllGetApis.AchievementProgramControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.UserStatusControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.AgencyControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.OptInsControllerGetApi" />
			<class name="com.ripplestreet.AllGetApis.AssetControllerGetApi" />
			<class
				name="com.ripplestreet.AllGetApis.ActivityGroupControllerGetApi" />
			<class
				name="com.ripplestreet.AllGetApis.NotificationControllerGetApi" />
			<class
				name="com.ripplestreet.AllGetApis.EventDetailControllerGetApi" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
